<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>正解！</title>
	<meta charset="utf-8" />
    <link rel="stylesheet" href="right.css">
</head>
<p class="img_center">
	<a href="../index">
	<img src="title.png" alt="この人誰だろな？" width="200">
	</a>
</p>
<audio src="right.mp3" autoplay></audio>
<body>
	<h1>正解</h1>
	<h2>おめでとう！</h2>
	<p class="img_center">
		    <img src="right.png" alt="正解" height="200">
		</p>
	<form method="get" action="#" th:action="@{/quiz1}">
		<input type="submit" value="次へ">
	</form>
	
</body>
</html>